<p><h4 style="color: darkgreen"><b>Q1) Classification of the types of content</b></h4>

<ul>
  <li> About </li>
  <ul>
    <li>
      <p>In this story written is about, why the organization was started, how the organization impacted
        the life of someone or a group of people, or what a future change will do for community members.</p>
    </li>
  </ul>

  <li> Events </li>
  <ul>
    <li>
      <p>Past Events</p> </li>
    <li>
      <p>Future Events</p>
    </li>

  </ul>
  <li> Donations </li>
  <ul>
    <li>
      <p> Donate Money to poor</p>
    </li>
    <li>
      <p> Donate Education Materials to Students</p></li>
    <li>
      <p> Donate Education others like blood, people needs etc</p></li>
    <h5 style="color: #8a1f11">Notice: For Donating other things we just display Organization Postal address</h5>
    </li>
  </ul>
  <li> Comments on Events </li>
  <ul>
    <li>
      <p>Here people can comment or give suggestions about events</p>
    </li>
  </ul>
  <li> Expenditures </li>
  <ul>
    <li>
      <p>Here user can add all the expenditures made for an event</p>
    </li>
  </ul>
  <li> Queries </li>
  <ul>
    <li>
      <p>People can Ask Questions </p>
    </li>
  </ul>
  <li> Answers for Queries </li>
  <ul>
    <li>
      <p>Users reply to Queries </p>
    </li>
  </ul>
  <li> Case studies </li>
  <ul>
    <li>
      <p> The site where we tell specific examples of how our organization
        influenced an individual or a community in a positive way</p>
    </li>
  </ul>

</ul>

<p><h4 style="color: darkgreen"><b>Q2) Design content data model</b></h4>
<ul><ul><ul>
  <%= image_tag('donate.png' , size: '750x550')%>
</ul></ul></ul>
<h4 style="color: darkgreen"><b>Q3) Specify the workflow for each kind of content</b></h4>

<ul><ul><ul>
  <%= image_tag('Workflow.png' , size: '750x450')%>
</ul></ul></ul>
<h4 style="color: darkgreen"><b>Q4) Versioning System </b></h4>
<ul>
  <strong>Events</strong>
  <li>
    In my website, we will display events according to newly created or updated data.
  </li>
  <li>
    We will include username or email in event table,such that the user,who updates the event recently will be known.
  </li>
  <li>
    I just need current version with the user of the last version for an event, to display recently updated user.
  </li>
  <strong>Donations</strong>
  <li>
    In my website, we will display Donations according to newly created or updated data.
  </li>
  <li>
    I just need current version with the user of the last version for a donation, to display recently donated user also we will take
    non-user details for a donation to display.
  </li>
  <strong>Queries</strong>
  <li>
    In my website, we will display Queries according to newly posted question.
  </li>
  <li>
    We will include user details in Queries table,such that the user,who asks query will be known.
  </li>
  <strong>Answer</strong>
  <li>
    In my website, we will display Answers according to newly posted question.
  </li>
  <li>
    We will include member details in Answers table,such that the
    member,who answered to the query  will be known.
  </li>
  <strong>About</strong>
  <li>
    In my website, we will display recently updated About page.
  </li>
  <li>
    We will include member details in About table,such that the member,
    who updates the About page  will be known.
  </li>
  <strong>CaseStudy</strong>
  <li>
    In my website, we will display recently updated CaseStudies.
  </li>
  <li>
    We will include member/volunteer details in About table,such that
    the member/volunteer,who updates the CaseStudy page  will be known.
  </li>
  <h4 style="color: darkgreen"><b>Q5) User Accepting Test </b></h4>

  <ul>
    <li>Feature</li>
    <%= image_tag('event.png' , size: '850x350')%>
    <br><br>
    <li>Steps</li>
    <%= image_tag('ev1.png' , size: '750x650')%>
    <%= image_tag('ev2.png' , size: '750x90')%>
  </ul>

</ul>
