<%if @mdos !=nil %>
    <script>
      $(document).ready(function () {

        $('.star').on('click', function () {
          $(this).toggleClass('star-checked');
        });

        $('.ckbox label').on('click', function () {
          $(this).parents('tr').toggleClass('selected');
        });

        $('.btn-filter').on('click', function () {
          var $target = $(this).data('target');
          if ($target != 'all') {
            $('.table tr').css('display', 'none');
            $('.table tr[data-status="' + $target + '"]').fadeIn('slow');
          } else {
            $('.table tr').css('display', 'none').fadeIn('slow');
          }
        });

      });
    </script>
    <style>
      #str1 {
        border: 1px solid #dddddd;
        border-radius: 5px;
        position: relative;
      }


      #str2{
        width: auto;
        height: 100%;
        overflow-x:hidden;
        padding-bottom: 82px;
        padding-top: 15px;
        /*text-align: center;*/

      }
    </style>
    <p id="notice"><%= notice %></p>


    <div class="row" align="center">
      <div id="str1" style="width: 16cm;height: 14cm;"; align="center">

        <div id="str2" class="wrapper container" style="height: 14.7cm;width: 16cm;border: double" align="left">
          <% i = 1 %>

          <% @mdos.each do |mdo| %>
              <div class="container" >
                <div class="row" align="left">

                  <section class="content" style="width: 15cm;float: left">
                    <h1>Donation-<%=i %></h1>
                    <div>
                      <div class="panel panel-default">
                        <div class="panel-body" style="background-color: #67b168">

                          <table style="">

                            <a class="pull-left"  >
                              <tr>
                                <h3 style="color: #333c10">  <%= image_tag('pp.png',width: '96cm',class: "media-photo") %>
                                  Donated by:</h3>
                              </tr>
                            </a></table>

                          <div class="table-container">
                            <table class="table table-filter">
                              <tbody>
                              <tr data-status="pagado">



                                <td>

                                  <table>

                                    <tr><td width="0.5cm"><strong style="color: #31b0d5">Name:</strong></td>
                                      <td><%= mdo.full_name %></td>
                                    </tr>
                                    <tr><td width="0.5cm"><strong style="color: #31b0d5">Amount:</strong></td>
                                      <td><%= mdo.amount %></td>
                                    </tr>
                                    <tr><td width="0.5cm"><strong style="color: #31b0d5">Email:</strong></td>
                                      <td><%= mdo.email %></td>
                                    </tr>
                                    <tr><td width="0.5cm"><strong style="color: #31b0d5">Telephone:</strong></td>
                                      <td><%= mdo.telephone %></td>
                                    </tr>
                                    <tr><td width="0.5cm"><strong style="color: #31b0d5">Address:</strong></td>
                                      <td><%= mdo.company %></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>

                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="content-footer">
                        <p>
                          Payment © - Date: <%=mdo.created_at.strftime("%d %b. %Y")%> Time: <%= mdo.created_at.strftime("%I:%M %p")%><br>
                          Powered By <a href="https://www.paypal.com" target="_blank">Paypal</a>
                        </p>
                      </div>

                    </div> </section>

                </div>
              </div>
              <br>
              <% i += 1 %>
          <% end %>

        </div>
        <%= link_to 'Donate Now', new_mdo_path, class: "btn btn-primary btn-lg btn-block" , style: "color: white;background: gray;" %>
        </p>

      </div></div>
<%else %>
    <script>
      $(document).ready(function () {

        $('.star').on('click', function () {
          $(this).toggleClass('star-checked');
        });

        $('.ckbox label').on('click', function () {
          $(this).parents('tr').toggleClass('selected');
        });

        $('.btn-filter').on('click', function () {
          var $target = $(this).data('target');
          if ($target != 'all') {
            $('.table tr').css('display', 'none');
            $('.table tr[data-status="' + $target + '"]').fadeIn('slow');
          } else {
            $('.table tr').css('display', 'none').fadeIn('slow');
          }
        });

      });
    </script>
    <style>
      #str1 {
        border: 1px solid #dddddd;
        border-radius: 5px;
        position: relative;
      }


      #str2{
        width: auto;
        height: 100%;
        overflow-x:hidden;
        padding-bottom: 82px;
        padding-top: 15px;
        /*text-align: center;*/

      }
    </style>
    <p id="notice"><%= notice %></p>


    <div class="row" align="center">
      <div id="str1" style="width: 16cm;height: 6cm;"; align="center">

        <div id="str2" class="wrapper container" style="height: 5.7cm;width: 16cm;border: double" align="left">
          <div class="container" >
            <div class="row" align="left">

              <section class="content" style="width: 15cm;float: left">
                <div class="media">
                  <br><br>
                  <i> <h2 align="center" style="color: #cc0000"><strong >Sorry you don't have any <b>Donations</b></strong></h2></i>
                  <h2 align="center"> <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></h2>
                </div>
              </section>

            </div>
          </div>
          <br>

        </div>
        <%= link_to 'Donate Now', new_mdo_path, class: "btn btn-primary btn-lg btn-block" , style: "color: white;background: gray;" %>
        </p>

      </div></div>
<%end%>
