<p id="notice"><%= notice %></p>

<h1>Mdos</h1>

<table>
  <thead>
  <tr>
    <th>Amount</th>
    <th>Full name</th>
    <th>Company</th>
    <th>Email</th>
    <th>Telephone</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @mdos.each do |mdo| %>
      <tr>
        <td><%= mdo.amount %></td>
        <td><%= mdo.full_name %></td>
        <td><%= mdo.company %></td>
        <td><%= mdo.email %></td>
        <td><%= mdo.telephone %></td>
        <td><%= link_to 'Show', mdo %></td>
        <td><%= link_to 'Edit', edit_mdo_path(mdo) %></td>
        <td><%= link_to 'Destroy', mdo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mdo', new_mdo_path %>
